$primary: #2C2C2C;
$secondary: #88BBBC;
  $secondary-light: #DCEAEB;
  $secondary-dark:#055158;
  $secondary-contrast-text: #fff;
  
$contrast-text:#FEFEFE;
$text-primary: #373737;
$text-primary-light: #505050;
$text-secondary: #1AB0B3;
$contrast-background: #65FFC9;