.skill-header {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
}

.skill-item {
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  // background: #444444;
  // color: white;
  // border-radius: 2px;
  // padding: 10px 13px;
  // text-align: center;
  // margin-right: 12px;
  // margin-bottom: 12px;
  font-size: 0.9rem;
  // padding-top: 0.5rem;
  // padding-bottom: 0.5rem;
  // min-width: min-content;
}

.chip {
  -webkit-text-size-adjust: 100%;
  line-height: 1.6;
  list-style: none;
  color: #868686;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border-right: 2px solid #c0963c;
  text-align: center;
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}
